<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h3 class="card-title">All Courses</h3>
        <h6 class="card-subtitle"></h6>




        <!-- #################  Tabs  ############## -->

        <ngb-tabset #t="ngbTabset">
          <ngb-tab id="tab-selectbyid1" title="Cloud Computing Using AWS">
            <ng-template ngbTabContent>
              <p class="p-t-20">Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth
                master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro
                keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat
                salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.</p>
            </ng-template>
          </ngb-tab>


          <ngb-tab id="tab-selectbyid2" title="MicroServices Using Arquillian">
            <ng-template ngbTabContent>
              <p class="p-t-20">Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth
                master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro
                keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat
                salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.</p>
            </ng-template>
          </ngb-tab>


          <ngb-tab id="tab-selectbyid3" title="PostMan for API Collections">
            <ng-template ngbTabContent>
              <p class="p-t-20">Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth
                master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro
                keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat
                salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.</p>
            </ng-template>
          </ngb-tab>






          <ngb-tab id="tab-selectbyid4" title="Machine Learning">
            <ng-template ngbTabContent>
              <p class="p-t-20">Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth
                master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro
                keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat
                salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.</p>
            </ng-template>
          </ngb-tab>







          <ngb-tab id="tab-selectbyid5" title="Java">
            <ng-template ngbTabContent>
              <p class="p-t-20">Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth
                master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro
                keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat
                salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.</p>
            </ng-template>
          </ngb-tab>




          <ngb-tab id="tab-selectbyid6" title="Test Automation Using Selenium">
            <ng-template ngbTabContent>
              <p class="p-t-20">Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth
                master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro
                keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat
                salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.</p>
            </ng-template>
          </ngb-tab>



          <ngb-tab id="tab-selectbyid7" title="Agile via Scrum And Kanban Frameworks">
            <ng-template ngbTabContent>
              <p class="p-t-20">Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth
                master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro
                keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat
                salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.</p>
            </ng-template>
          </ngb-tab>




          <ngb-tab id="tab-selectbyid8" title="Maven">
            <ng-template ngbTabContent>
              <p class="p-t-20">Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth
                master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro
                keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat
                salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.</p>
            </ng-template>
          </ngb-tab>




          <ngb-tab id="tab-selectbyid9" title="Jenkins for CI">
            <ng-template ngbTabContent>
              <p class="p-t-20">Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth
                master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro
                keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat
                salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.</p>
            </ng-template>
          </ngb-tab>



          <ngb-tab id="tab-selectbyid10" title="Devops">
            <ng-template ngbTabContent>
              <p class="p-t-20">Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth
                master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro
                keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat
                salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.</p>
            </ng-template>
          </ngb-tab>


          <p>
            <button class="btn btn-outline-primary" (click)="t.select('tab-selectbyid10')">Selected tab with "tab-selectbyid10" id</button>
          </p>





          <ngb-tab id="tab-selectbyid11" title="Protractor">
            <ng-template ngbTabContent>
              <p class="p-t-20">Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth
                master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro
                keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat
                salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.</p>
            </ng-template>
          </ngb-tab>




          <ngb-tab id="tab-selectbyid12" title="JMeter">
            <ng-template ngbTabContent>
              <p class="p-t-20">Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth
                master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro
                keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat
                salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.</p>
            </ng-template>
          </ngb-tab>





          <ngb-tab id="tab-selectbyid13" title="Appium">
            <ng-template ngbTabContent>
              <p class="p-t-20">Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth
                master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro
                keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat
                salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.</p>
            </ng-template>
          </ngb-tab>




          <ngb-tab id="tab-selectbyid14" title="ETL and DataBase Concepts">
            <ng-template ngbTabContent>
              <p class="p-t-20">Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth
                master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro
                keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat
                salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.</p>
            </ng-template>
          </ngb-tab>




          <ngb-tab id="tab-selectbyid15" title="Secruity Testing">
            <ng-template ngbTabContent>
              <p class="p-t-20">Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth
                master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro
                keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat
                salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.</p>
            </ng-template>
          </ngb-tab>





          <ngb-tab id="tab-selectbyid16" title="Node.JS">
            <ng-template ngbTabContent>
              <p class="p-t-20">Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth
                master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro
                keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat
                salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.</p>
            </ng-template>
          </ngb-tab>




          <ngb-tab id="tab-selectbyid17" title="Artificial Intelligence">
            <ng-template ngbTabContent>
              <p class="p-t-20">Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth
                master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro
                keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat
                salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.</p>
            </ng-template>
          </ngb-tab>






          <ngb-tab id="tab-selectbyid18" title="Front end Scripting - HTML, CSS, Jquery, JavaScript etc.">
            <ng-template ngbTabContent>
              <p class="p-t-20">Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth
                master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro
                keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat
                salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.</p>
            </ng-template>
          </ngb-tab>




          <ngb-tab id="tab-selectbyid19" title="Angular">
            <ng-template ngbTabContent>
              <p class="p-t-20">Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth
                master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro
                keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat
                salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.</p>
            </ng-template>
          </ngb-tab>





          <ngb-tab id="tab-selectbyid20" title="Python">
            <ng-template ngbTabContent>
              <p class="p-t-20">Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth
                master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro
                keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat
                salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.</p>
            </ng-template>
          </ngb-tab>




          <ngb-tab id="tab-selectbyid21" title="BlockChain">
            <ng-template ngbTabContent>
              <p class="p-t-20">Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth
                master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro
                keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat
                salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.</p>
            </ng-template>
          </ngb-tab>





          <ngb-tab id="tab-selectbyid22" title="Github">
            <ng-template ngbTabContent>
              <p class="p-t-20">Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth
                master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro
                keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat
                salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.</p>
            </ng-template>
          </ngb-tab>



        </ngb-tabset>


        <!-- #################Slide Show############## -->

        <div class="col-md-6 col-xlg-5">
          <div class="card">
            <div class="card-body">
              <h3 class="card-title">Technologies Offered</h3>
              <!--   <h6 class="card-subtitle">This is basic Carousel</h6> -->
              <ngb-carousel class="mh-500" style="width: 200%; height: 50vh">
                <ng-template ngbSlide>
                  <img src="assets/images/python.png" alt="Random first slide">
                  <div class="carousel-caption">
                    <h3 class="text-white font-bold">10 seconds between slides...</h3>
                    <p>This carousel uses customized default values.</p>
                  </div>
                </ng-template>
                <ng-template ngbSlide class="mh-500" style="width: 200%; height: 50vh">
                  <img src="assets/images/Front end Scripting.png" alt="Random second slide">
                  <div class="carousel-caption">
                    <h3 class="text-white font-bold">No keyboard...</h3>
                    <p>This carousel uses customized default values.</p>
                  </div>
                </ng-template>
                <ng-template ngbSlide>
                  <img src="assets/images/AI.png" alt="Random third slide"    class="mh-500" style="width: 200%; height: 50vh">
                  <div class="carousel-caption">
                    <h3 class="text-white font-bold">And no wrap after last slide.</h3>
                    <p>This carousel uses customized default values.</p>
                  </div>
                </ng-template>

                <ng-template ngbSlide>
                  <img src="assets/images/Node.png" alt="Random third slide"    class="mh-500" style="width: 200%; height: 50vh">
                  <div class="carousel-caption">
                    <h3 class="text-white font-bold">And no wrap after last slide.</h3>
                    <p>This carousel uses customized default values.</p>
                  </div>
                </ng-template>


                <ng-template ngbSlide>
                  <img src="assets/images/security-testing.png" alt="Random third slide"    class="mh-500" style="width: 200%; height: 50vh">
                  <div class="carousel-caption">
                    <h3 class="text-white font-bold">And no wrap after last slide.</h3>
                    <p>This carousel uses customized default values.</p>
                  </div>
                </ng-template>


                <ng-template ngbSlide>
                  <img src="assets/images/ETL.png" alt="Random third slide"    class="mh-500" style="width: 200%; height: 50vh">
                  <div class="carousel-caption">
                    <h3 class="text-white font-bold">And no wrap after last slide.</h3>
                    <p>This carousel uses customized default values.</p>
                  </div>
                </ng-template>


                <ng-template ngbSlide>
                  <img src="assets/images/appium.png" alt="Random third slide"    class="mh-500" style="width: 200%; height: 50vh">
                  <div class="carousel-caption">
                    <h3 class="text-white font-bold">And no wrap after last slide.</h3>
                    <p>This carousel uses customized default values.</p>
                  </div>
                </ng-template>

                <ng-template ngbSlide>
                  <img src="assets/images/Jmeter.png" alt="Random third slide"    class="mh-500" style="width: 200%; height: 50vh">
                  <div class="carousel-caption">
                    <h3 class="text-white font-bold">And no wrap after last slide.</h3>
                    <p>This carousel uses customized default values.</p>
                  </div>
                </ng-template>

                <ng-template ngbSlide>
                  <img src="assets/images/Protractor.png" alt="Random third slide"    class="mh-500" style="width: 200%; height: 50vh">
                  <div class="carousel-caption">
                    <h3 class="text-white font-bold">And no wrap after last slide.</h3>
                    <p>This carousel uses customized default values.</p>
                  </div>
                </ng-template>


                <ng-template ngbSlide>
                  <img src="assets/images/git.png" alt="Random third slide"    class="mh-500" style="width: 200%; height: 50vh">
                  <div class="carousel-caption">
                    <h3 class="text-white font-bold">And no wrap after last slide.</h3>
                    <p>This carousel uses customized default values.</p>
                  </div>
                </ng-template>


                <ng-template ngbSlide>
                  <img src="assets/images/devops.png" alt="Random third slide"    class="mh-500" style="width: 200%; height: 50vh">
                  <div class="carousel-caption">
                    <h3 class="text-white font-bold">And no wrap after last slide.</h3>
                    <p>This carousel uses customized default values.</p>
                  </div>
                </ng-template>


                <ng-template ngbSlide>
                  <img src="assets/images/Jenkins.png" alt="Random third slide"    class="mh-500" style="width: 200%; height: 50vh">
                  <div class="carousel-caption">
                    <h3 class="text-white font-bold">And no wrap after last slide.</h3>
                    <p>This carousel uses customized default values.</p>
                  </div>
                </ng-template>


                <ng-template ngbSlide>
                  <img src="assets/images/Maven.png" alt="Random third slide"    class="mh-500" style="width: 200%; height: 50vh">
                  <div class="carousel-caption">
                    <h3 class="text-white font-bold">And no wrap after last slide.</h3>
                    <p>This carousel uses customized default values.</p>
                  </div>
                </ng-template>

                <ng-template ngbSlide>
                  <img src="assets/images/Agile.png" alt="Random third slide"    class="mh-500" style="width: 200%; height: 50vh">
                  <div class="carousel-caption">
                    <h3 class="text-white font-bold">And no wrap after last slide.</h3>
                    <p>This carousel uses customized default values.</p>
                  </div>
                </ng-template>


                <ng-template ngbSlide>
                  <img src="assets/images/Selenium.png" alt="Random third slide"    class="mh-500" style="width: 200%; height: 50vh">
                  <div class="carousel-caption">
                    <h3 class="text-white font-bold">And no wrap after last slide.</h3>
                    <p>This carousel uses customized default values.</p>
                  </div>
                </ng-template>


                <ng-template ngbSlide>
                  <img src="assets/images/Java.png" alt="Random third slide"    class="mh-500" style="width: 200%; height: 50vh">
                  <div class="carousel-caption">
                    <h3 class="text-white font-bold">And no wrap after last slide.</h3>
                    <p>This carousel uses customized default values.</p>
                  </div>
                </ng-template>


                <ng-template ngbSlide>
                  <img src="assets/images/ML.png" alt="Random third slide"    class="mh-500" style="width: 200%; height: 50vh">
                  <div class="carousel-caption">
                    <h3 class="text-white font-bold">And no wrap after last slide.</h3>
                    <p>This carousel uses customized default values.</p>
                  </div>
                </ng-template>


                <ng-template ngbSlide>
                  <img src="assets/images/PostMan.png" alt="Random third slide"    class="mh-500" style="width: 200%; height: 50vh">
                  <div class="carousel-caption">
                    <h3 class="text-white font-bold">And no wrap after last slide.</h3>
                    <p>This carousel uses customized default values.</p>
                  </div>
                </ng-template>


                <ng-template ngbSlide>
                  <img src="assets/images/MS_A.png" alt="Random third slide"    class="mh-500" style="width: 200%; height: 50vh">
                  <div class="carousel-caption">
                    <h3 class="text-white font-bold">And no wrap after last slide.</h3>
                    <p>This carousel uses customized default values.</p>
                  </div>
                </ng-template>


                <ng-template ngbSlide>
                  <img src="assets/images/cc_aws.png" alt="Random third slide"    class="mh-500" style="width: 200%; height: 50vh">
                  <div class="carousel-caption">
                    <h3 class="text-white font-bold">And no wrap after last slide.</h3>
                    <p>This carousel uses customized default values.</p>
                  </div>
                </ng-template>


                <ng-template ngbSlide>
                  <img src="assets/images/angular.png" alt="Random third slide"    class="mh-500" style="width: 200%; height: 50vh">
                  <div class="carousel-caption">
                    <h3 class="text-white font-bold">And no wrap after last slide.</h3>
                    <p>This carousel uses customized default values.</p>
                  </div>
                </ng-template>


                <ng-template ngbSlide>
                  <img src="assets/images/more.png" alt="Random third slide"    class="mh-500" style="width: 200%; height: 50vh">
                  <div class="carousel-caption">
                    <h3 class="text-white font-bold">And no wrap after last slide.</h3>
                    <p>This carousel uses customized default values.</p>
                  </div>
                </ng-template>

              </ngb-carousel>


            </div>
          </div>
        </div>






      </div>
    </div>
  </div>
</div>